* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #68bbb4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1100px;
  background: whitesmoke;
  margin: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-shadow: 0 30px 50px #383535;
          box-shadow: 0 30px 50px #383535;
}

.container .left_side {
  position: relative;
  background: #635a5b;
  padding: 40px;
}

.container .left_side img {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
}

.container .left_side h2 {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.container .left_side span {
  font-size: 0.9em;
  font-weight: 300;
}

.container .ptext {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  color: white;
}

.container .Contact {
  padding-top: 40px;
  border-bottom: 1px solid white;
}

.container .Contact ul {
  position: relative;
}

.container .Contact li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.container .Contact .icon {
  display: inline-block;
  width: 30px;
  font-size: 20px;
  color: white;
}

.container .Contact span {
  color: aliceblue;
  font-weight: 400;
}

.container .title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.container .Contact_Education {
  border-bottom: 1px solid white;
  margin-top: 40px;
}

.container .Contact_Education h5 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.container .Contact_Education h4 {
  margin-top: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: azure;
}

.container .Contact_Education ul {
  position: relative;
}

.container .Contact_Education li {
  position: relative;
  list-style: none;
  margin: 15px 0;
  cursor: pointer;
}

.container .right_side {
  position: relative;
  background: white;
  padding: 40px;
}

.container .right_side .right_title {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
}

.container .right_side .group2 {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid gray;
}

.container .right_side .group2 .left1 {
  margin-left: 25px;
}

.container .right_side .group2 h3 {
  text-transform: uppercase;
  margin-top: 15px;
}

.container .right_side .language {
  text-transform: uppercase;
  margin-top: 40px;
  text-align: center;
}

.container .right_side .center {
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container .right_side .left5, .container .right_side .right5 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.container .character h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.container .character2 {
  margin-top: 35px;
  border-bottom: 1px solid gray;
}

.container .character2 li {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .container {
    position: relative;
    background: whitesmoke;
    margin: 0px;
    -webkit-box-shadow: 0 30px 50px #383535;
            box-shadow: 0 30px 50px #383535;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .left_side {
    padding: 20px;
  }
  .container .left_side img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
  }
  .container .left_side h2 {
    font-size: 1em;
  }
  .container .left_side .Contact {
    margin-top: 5px;
  }
  .container .left_side .Contact .title {
    margin-top: 0px;
    font-size: 15px;
  }
  .container .left_side .icon {
    display: inline-block;
    width: 15px;
    font-size: 11px;
    color: white;
  }
  .container .right_side {
    padding: 15px;
  }
  .container .right_side .right_title {
    font-size: 12px;
  }
  .container .right_side .group2 {
    font-size: 9px;
  }
  .container .right_side .center {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .right_side .character2 li {
    list-style: none;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    position: relative;
    background: whitesmoke;
    margin: 0px;
    -webkit-box-shadow: 0 30px 50px #383535;
            box-shadow: 0 30px 50px #383535;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .left_side {
    padding: 20px;
  }
  .container .left_side img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
  }
  .container .left_side h2 {
    font-size: 1em;
  }
  .container .left_side .Contact {
    margin-top: 5px;
  }
  .container .left_side .Contact .title {
    margin-top: 0px;
    font-size: 15px;
  }
  .container .left_side .icon {
    display: inline-block;
    width: 15px;
    font-size: 11px;
    color: white;
  }
  .container .right_side {
    padding: 15px;
  }
  .container .right_side .right_title {
    font-size: 12px;
  }
  .container .right_side .group2 {
    font-size: 9px;
  }
  .container .right_side .center {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .right_side .character2 li {
    list-style: none;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    position: relative;
    background: whitesmoke;
    margin: 0px;
    -webkit-box-shadow: 0 30px 50px #383535;
            box-shadow: 0 30px 50px #383535;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .left_side {
    padding: 20px;
  }
  .container .left_side img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
  }
  .container .left_side h2 {
    font-size: 1em;
  }
  .container .left_side .Contact {
    margin-top: 5px;
  }
  .container .left_side .Contact .title {
    margin-top: 0px;
    font-size: 15px;
  }
  .container .left_side .icon {
    display: inline-block;
    width: 15px;
    font-size: 11px;
    color: white;
  }
  .container .right_side {
    padding: 15px;
  }
  .container .right_side .right_title {
    font-size: 12px;
  }
  .container .right_side .group2 {
    font-size: 9px;
  }
  .container .right_side .center {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .right_side .character2 li {
    list-style: none;
  }
}

@media screen and (max-width: 1070px) {
  .container {
    position: relative;
    background: whitesmoke;
    margin: 0px;
    -webkit-box-shadow: 0 30px 50px #383535;
            box-shadow: 0 30px 50px #383535;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .left_side {
    padding: 20px;
  }
  .container .left_side img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
  }
  .container .left_side h2 {
    font-size: 1em;
  }
  .container .left_side .Contact {
    margin-top: 5px;
  }
  .container .left_side .Contact .title {
    margin-top: 0px;
    font-size: 15px;
  }
  .container .left_side .icon {
    display: inline-block;
    width: 15px;
    font-size: 11px;
    color: white;
  }
  .container .right_side {
    padding: 15px;
  }
  .container .right_side .right_title {
    font-size: 12px;
  }
  .container .right_side .group2 {
    font-size: 9px;
  }
  .container .right_side .center {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .right_side .character2 li {
    list-style: none;
  }
}

@media screen and (max-width: 970px) {
  .container {
    position: relative;
    background: whitesmoke;
    margin: 0px;
    -webkit-box-shadow: 0 30px 50px #383535;
            box-shadow: 0 30px 50px #383535;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .left_side {
    padding: 20px;
  }
  .container .left_side img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
  }
  .container .left_side h2 {
    font-size: 1em;
  }
  .container .left_side .Contact {
    margin-top: 5px;
  }
  .container .left_side .Contact .title {
    margin-top: 0px;
    font-size: 15px;
  }
  .container .left_side .icon {
    display: inline-block;
    width: 15px;
    font-size: 11px;
    color: white;
  }
  .container .right_side {
    padding: 15px;
  }
  .container .right_side .right_title {
    font-size: 12px;
  }
  .container .right_side .group2 {
    font-size: 9px;
  }
  .container .right_side .center {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .right_side .character2 li {
    list-style: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    position: relative;
    background: whitesmoke;
    margin: 0px;
    -webkit-box-shadow: 0 30px 50px #383535;
            box-shadow: 0 30px 50px #383535;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .left_side {
    padding: 20px;
  }
  .container .left_side img {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
  }
  .container .left_side h2 {
    font-size: 1em;
  }
  .container .left_side .Contact {
    margin-top: 5px;
  }
  .container .left_side .Contact .title {
    margin-top: 0px;
    font-size: 15px;
  }
  .container .left_side .icon {
    display: inline-block;
    width: 15px;
    font-size: 11px;
    color: white;
  }
  .container .right_side {
    padding: 15px;
  }
  .container .right_side .right_title {
    font-size: 12px;
  }
  .container .right_side .group2 {
    font-size: 9px;
  }
  .container .right_side .center {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .right_side .character2 li {
    list-style: none;
  }
}
/*# sourceMappingURL=style.css.map */